body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display:flex;
  justify-content:space-between;
  text-align:center;
  padding:0rem 2rem;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color:white;

}
main{
  padding:1.7rem
}

.form{
  display:grid;
  grid-template:40px 40px/1fr 1fr;
  gap:1rem;
}
.form-item{
  border: 1px solid #D5D4D8;
  border-radius:5px;
  text-indent:5px;
}
.form-button{
  grid-column:1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  border-radius:5px;
  border:none;
  color:white;
  font-family:"karla",sans-serif;
  font-weight:bold;
  font-size:1rem;
}
.meme {
  position: relative;
}

.meme-image {
  display:block;
  width: 50%;
  border-radius: 3px;
  margin-top:1rem;
  margin-left: auto;
  margin-right: auto;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}